/* Global styles */

body::before {
  content: "";
  position: fixed; /* Change to fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Update to 100% to cover the entire page */
  background-image: url("../Images/giveuslogo.jpg");
  background-size: 100; /* Use 'cover' to scale and cover the entire background */
  background-position: center top;
  mix-blend-mode: multiply;
  opacity: 0.6;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  font-weight: bolder;
}
body {
  --primary-color: #00bfa5;
  --secondary-color: #ff4081;
  --accent-color: #fdd835;
}
/* Current contact details */
.currentcontactdetails {
  display: flex;
  position: relative;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
}
h2 {
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-3px);
  color: #fff;
  font-weight: bold;
}
button:hover{
  border-color: #fff;
}
/* "Yes" or "Save" button style */
.choosecontactman-btn{
  background-color: #4caf50;
}
.reset-btn{
  background-color: yellowgreen;
}
.backhome-btn{
  background-color: #f44336;
  transform: translateY(12px);
}
.deletecontactman-btn{
  background-color: #f44336;
}
/* "No" or "Exit" button style */
.delete-btn-no, .return-btn-no {
  background-color: #f44336;
  transform: translateX(410px)translateY(20px);
}
.delete-btn-yes, .return-btn-yes{
  background-color: #4caf50;
  transform: translateX(10px)translateY(20px);
}
/* Delete account modal */
.deletecontactmanmodal {
  display: none;
  position: fixed;
  width: 550px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
}

.returnmodal {
  display: none;
  position: fixed;
  width: 550px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
}

.deletecontactmanmodal p, .returnmodal p{
  text-align: center;
  font-size: 18px;
}
/* Form styles */
.form-details-box,
.form-deletecontactman-modal,
.form-return-box {
  width: 100%;
}

.choosecontactman-select {
  margin-top: 20px;
}
.contactman-select {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .currentcontactdetails,
  .deleteaccountmodal,
  .returnmodal {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
