body::before {
  content: "";
  position: fixed; /* Change to fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Update to 100% to cover the entire page */
  background-image: url("../Images/giveuslogo.jpg");
  background-size: 100; /* Use 'cover' to scale and cover the entire background */
  background-position: center top;
  mix-blend-mode: multiply;
  opacity: 0.6;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  font-weight: bold;
}

body {
  --primary-color: #00bfa5;
  --secondary-color: #ff4081;
  --accent-color: #fdd835;
}
.expired {
  color: red;
}
button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-3px);
  font-size: 16px;
  font-weight: bold;
  color:#fff;
}
button:hover{
  border-color: #fff;
}

.current-association {
  background-color: #e0735f; /* Red background color */
  color: #ffffff; /* White text color */
}

.profileuser {
  height: auto;
  background-color: #fff;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
  border: 2px solid #000;
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(0%);
}

.userselectmenu,
.searchdonation, .informationselectmenu {
  width: 650px;
  height: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: 20px auto; /* Updated to center horizontally */
  position: relative;
  border: 2px solid #000;
}
.searchdonation {
  width: 650px;
}
.searchdonation-select{
  font-size: 24px;
  width: 225px;
  height: 30px;
  border-radius: 4px;
  transform: translateX(92px)translateY(-35px);
}
.searchdonation input{
  transform: translateX(3px)translateY(-25px);
}
.searchdonation p{
  transform: translateX(3px)translateY(-25px);
}
.informationselectmenu{
  width: 650px;
}
.form-profile-box {
  width: 600px;
  height: 300px;
  margin-top: 50px;
  padding-right: 80px;
  padding-bottom: 90px;
}
.form-usermenu-box {
  width: 600px;
  height: 50px;
  margin-left: 500px;
  margin-top: -465px;
  padding-right: 0px;
  padding-bottom: 80px;
}
.form-informationselectmenu-box{
  width: 600px;
  height: 50px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 80px;
}
.form-search-box {
  width: 600px;
  height: 130px;
}
.form-search-box input{
  font-size: 18px;
  height: 25px;
  border-radius: 5px;
}
.usermenu-select{
  font-size: 24px;
  border-radius: 5px;
  height: 30px;
}
.information-select{
  font-size: 24px;
  border-radius: 5px;
  height: 30px;
}
.deleteaccountmodal {
  display: none;
  animation: blink 0.4s infinite;
  position: fixed;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-90%, -150%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #000;
}

.deleteaccountmodal p {
  font-size: 18px;
  margin-bottom: 20px;
}
.logout-btn{
  background-color:#f44336;
  color: #fff;
  transform: translateY(-55px) translateX(600px);
}
.delete-btn-yes,
.delete-btn-no {
  outline: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn-yes {
  background-color: #4CAF50;
  color: #fff;
  transform: translateX(-90px)translateY(20px);
}

.delete-btn-no {
  background-color: #ff3333;
  color: #fff;
  transform: translateX(90px)translateY(20px);
}

.form-result-modal {
  position: relative;
  top: 25px;
  width: 1000px;
  padding: 19px;
  margin-top: 35px;
  padding-right: 200px;
  padding-bottom: 80px;
  transform: translateX(0px);
}

.form-profile-box, .form-usermenu-box, .form-search-box, .deleteaccountmodal, .form-result-modal {
  margin: 0 auto;
  max-width: 600px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  transform: translateX(0px);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-profile-box p, .form-search-box p {
  font-size: 20px;
  display: inline-block; /* Change the display property to inline-block */
}

.chooseaction-btn,.chooseselect-btn, .searchdonation-btn, .resetdonation-btn
,.chooseinformationmenu-btn {
  background-color: var(--secondary-color);
  color: #fff;
} 
.searchdonation-btn{
  transform: translateX(3px)translateY(-22px);
}
.resetdonation-btn{
  transform: translateX(3px)translateY(-22px);
}
.showitems-btn, .showcontactman-btn, .refreshdonationtable-btn,
.chooseDonation-btn, .cancelchooseDonation-btn{
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px;
  transform: translateX(-10px);
}
.refreshdonationtable-btn{
  margin-left: -75px;
}
.refreshdonationtable-btn{
  transform: translateX(80px);
}
.showallcontactman-btn{
  background-color: var(--accent-color);

}
@media (max-width: 768px) {
  .profileuser, .form-profile-box, .form-usermenu-box, .searchContainer, .form-search-box, .deleteaccountmodal, .form-result-modal {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
}
/* Hide modals by default */
.resultmodal {
  display: none;
  position: relative;
  width: 1200px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff; /* Set the background color to white */
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: -20px auto; /* Updated to center horizontally */
}

.form-result-modal {
  width: 100%;
  position: relative;
  max-width: 900px;
  margin-top: -80px;
  margin-left: 0px;
}
.showcollectedmodal,
.showallcontactmanmodal,
.showdetailorganizationmodal {
  display: none;
  position: relative;
  width: 1200px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff; /* Set the background color to white */
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: 20px auto; /* Updated to center horizontally */
}
.searchdonation h2{
  transform: translateY(-10px);
}
.resultmodal h2{
  transform: translateX(-20px);
}
.showcontactmanorganizationmodal{
  display: none;
  position: relative;
  width: 1200px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: 20px auto; /* Updated to center horizontally */
}
.showcontactmanorganizationmodal h2, .showdetailorganizationmodal h2
.showallcontactmanmodal h2, .showcollectedmodal h2 {
  font-size: 24px;
  font-weight: bold;
  transform: translateX(0px);
  letter-spacing: 0px;
  text-transform: uppercase;
}
.exite-btn{
  background-color: #ff3333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.showallcontactman-btn{
  margin-left: 10px;
  padding: 10px;
}

/* Style the table container */
.table-container {
  position: relative;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px;
  transform: translateX(-10px);
  width: 1100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: 20px auto; /* Updated to center horizontally */
}
.table-container2 {
  position: relative;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px;
  transform: translateX(-40px);
  width: 1100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center; /* Updated to center vertically */
  justify-content: center; /* Added to center horizontally */
  margin: 20px auto; /* Updated to center horizontally */
}
.changesettingsusermodal {
  display: none;
  position: relative;
  background-color: #fff;
  transform: translateY(-700PX);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #000;
}

.form-changesettingsuser-modal {
  display: flex;
  flex-direction: column;
}

.form-changesettingsuser-modal p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-changesettingsuser-modal label {
  font-size: 14px;
  margin-bottom: 10px;
}

.form-changesettingsuser-modal input[type="checkbox"] {
  margin-right: 10px;
}

.save-btn-yes,
.exit-btn-no {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.exit-btn-no{
  background-color: #ff3333;
}
/* Style the table */
.tableDonation_show {
  width: 100%;
  border-collapse: collapse;
}

.tableDonation_show th,
.tableDonation_show td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
}

.tableDonation_show th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .table-container {
    width: 100%;
    margin: 10px;
    border-radius: 0;
  }

  .tableDonation_show th,
  .tableDonation_show td {
    padding: 8px;
  }
}

@keyframes blink {
  0% {
    border-color: red;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}
/* Style the table */
.table_show {
  width: 100%;
  border-collapse: collapse;
}

.table_show th,
.table_show td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
}

.table_show th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .table-container {
    width: 100%;
    margin: 10px;
    border-radius: 0;
  }

  .table_show th,
  .table_show td {
    padding: 8px;
  }
}