/* CSS code for updateContactManAssociation.html */
body::before {
  content: "";
  position: fixed; /* Change to fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Update to 100% to cover the entire page */
  background-image: url("../Images/giveuslogo.jpg");
  background-size: 100; /* Use 'cover' to scale and cover the entire background */
  background-position: center top;
  mix-blend-mode: multiply;
  opacity: 0.6;
}
/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
body {
  --primary-color: #00bfa5;
  --secondary-color: #ff4081;
  --accent-color: #fdd835;
}
button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-3px);
  color:#fff;
  font-size: 16px;
  font-weight: bold;
}
button:hover{
  border-color: #fff;
}
/* Container styles */
.currentcontactdetails {
  display: flex;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 50px;
  border: 2px solid #000;
}


.currentcontactdetails h2 {
  font-size: 24px;
  margin-top: 0;
}

.currentcontactdetails p {
  font-size: 16px;
  margin-top: 0;
}

.choosecontactman {
  margin-top: 20px;
  border: 2px solid #000;
}

.choosecontactman label {
  font-weight: bold;
}

.currentcontactdetails .choosecontactman{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #000;
}

.choosecontactman-btn, .reset-btn, .backhome-btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  

}
.choosecontactman-btn {
  background-color: #4caf50;
}

.reset-btn {
  background-color: yellowgreen;
}

.backhome-btn {
  background-color: #f44336;
}

.contactman-select {
  display: flex;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 18px;
}

.updatecontactmanmodal {
  display: none;
  position: relative;
  max-width: 410px;
  margin: 0 auto;
  padding: 20px;
  transform: translateY(-230px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #000;
}

.updatecontactmanmodal h2 {
  font-size: 24px;
  margin-top: 0;
}

.updatecontactmanmodal label {
  font-weight: bold;
  margin-bottom: 5px;
}

.updatecontactmanmodal input[type="text"] {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.close-btn {
  background-color: #f44336;
  margin-left: 10px;
  transform: translateX(201px)translateY(-5px);
}
.returnmodal {
  display: none; 
  width: 450px;
  height: 140px;
  max-width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
}

.returnmodal p {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.return-btn-yes {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transform: translateY(30px);
}

.return-btn-no {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transform: translateX(300px)translateY(30px);
}

